.overlay-wrap .overlay-icon i[data-v-ac0a1f18] {
  color: #fff !important;
}
.cus-img[data-v-ac0a1f18] {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.overlay-icon[data-v-ac0a1f18] {
  z-index: 999;
}
