.cus-img[data-v-1a99b549] {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.overlay-icon[data-v-1a99b549] {
  z-index: 99;
}
